@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/Manrope/static/Manrope-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/Manrope/static/Manrope-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/Manrope/static/Manrope-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/Manrope/static/Manrope-ExtraBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}